/* ignore blank document for git  */


.Calculator {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 600px;
}

.container {
    width: 350px;
    margin: 0 auto;
}

.display {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #383837;
}

.input {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    height: 50px;
    background-color: #9e9c99;
    font-size: 40px;
    padding-left: 5px;
}  

.reflection {
    position: relative;
    top: -579px;
    opacity: 60%;
    width: 25px;
    height: 47.5px;
    background-color: #b4b3b2;
    margin-left: 150px;
    transform: skew(22deg, 0deg);
}