/* ignore blank document for git  */

.Calculator {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    width: max-content;
    margin: 0 auto;
}

.display {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #383837;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    height: 50px;
    background-color: #9e9c99;
}  